.elements {
  margin: 0 auto;
  max-width: 880px;
  width: calc(100% - 400px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 17px 1fr 17px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 20px 17px;
}
.elements > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.elements > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.elements > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

@media screen and (max-width: 1066px) {
  .elements {
    max-width: 550px;
    width: 100%;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 955px) {
  .elements {
    max-width: 282px;
    width: calc(100% - 38px);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
