.popup__close-button {
  background-image: url("../../../images/close-icon.svg");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  background-color: transparent;
  background-position: center;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -32px;
  right: -32px;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1066px) {
  .popup__close-button {
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    top: -41px;
    right: 0;
  }
}
