.header__link {
  color: #FFF;
  text-align: right;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.6;
}



