.popup__content_type_info-tooltip {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 60px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
