.add-button {
  min-height: 50px;
  max-width: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../../images/plus.svg");
  background-color: transparent;
  background-position: center;
  background-size: 22px 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  -ms-grid-column-align: end;
  justify-self: end;
  z-index: 1;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1066px) {
  .add-button {
    max-width: 282px;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    background-size: 16px 16px;
  }
}
