.window__link {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
}

.window__link:hover {
  opacity: 0.6;
}
