.window__button {
  color: #000;
  font-size: 18px;
  max-width: 358px;
  width:100%;
  min-height: 50px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #FFF;
  text-align: center;
  font-weight: 400;
  line-height: 1.22;
  cursor: pointer;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  z-index: 1;
  margin: 216px 0 0 0;
  border: 0;
}

.window__button:hover {
 opacity: 0.85;
}
