.popup__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  margin: 0;
  margin: 5px 0 0 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  -o-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  min-height: 30px;
}
