.element__trash {
  z-index: 2;
  min-height: 19px;
  max-height: 19px;
  max-width: 18px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../../../images/trash.svg");
  border: none;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__trash:hover {
    opacity: 0.5;
  }
  