.profile-info__text {
  color: #ffffff;
  z-index: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1066px) {
  .profile-info__text {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    max-width: 282px;
  }
}
